.construction-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .construction-img {
    width: 250px;
    margin: 2rem;
  }
  .constuction-text-1 {
    width: 910px;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #121212;
    padding-bottom: 10px;
  }
  .constuction-text-2 {
    width: 900px;
    font-size: 30px;
    color: #202833;
    padding-bottom: 5px;
    text-align: center;
  }
  .constuction-text-3 {
    width: 800px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #404B5A;
    padding-bottom: 10px;
  }
}
